<h1>Hello world !</h1>

<p>This is simple demonstration how to use:
<ul>
  <li><a href="http://sinatrarb.com/">Sinatra</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
</ul>
...easy peasy, isn't it? :-)</p>
